[Unit]
Description=%i service of tertiary-study-of-gamification with docker-compose

[Service]
Restart=always
WorkingDirectory=/c/Users/user/Workspace/tertiary-study-of-gamification
# Remove old containers, pull images and build containers
ExecStartPre=/c/ProgramData/chocolatey/bin/docker-compose -p tertiary-study-of-gamification down -v
ExecStartPre=/c/ProgramData/chocolatey/bin/docker-compose -p tertiary-study-of-gamification pull %i
ExecStartPre=/c/ProgramData/chocolatey/bin/docker-compose -p tertiary-study-of-gamification build --force-rm %i
# Compose up
ExecStart=/c/ProgramData/chocolatey/bin/docker-compose -p tertiary-study-of-gamification up --no-build %i
# Compose down and restart
ExecStop=/c/ProgramData/chocolatey/bin/docker-compose -p tertiary-study-of-gamification down -v
ExecReload=/c/ProgramData/chocolatey/bin/docker-compose -p tertiary-study-of-gamification restart %i

[Install]
WantedBy=multi-user.target

