[Unit]
Description=%i service of tertiary-study-of-gamification with docker-compose

[Service]
Restart=always
WorkingDirectory=/cygdrive/d/Users/gcc/Workspace/tertiary-study-of-gamification
# Remove old containers, pull images and build containers
ExecStartPre=/cygdrive/c/Program Files/Docker/Docker/resources/bin/docker-compose -p tertiary-study-of-gamification down -v
ExecStartPre=/cygdrive/c/Program Files/Docker/Docker/resources/bin/docker-compose -p tertiary-study-of-gamification pull %i
ExecStartPre=/cygdrive/c/Program Files/Docker/Docker/resources/bin/docker-compose -p tertiary-study-of-gamification build --force-rm %i
# Compose up
ExecStart=/cygdrive/c/Program Files/Docker/Docker/resources/bin/docker-compose -p tertiary-study-of-gamification up --no-build %i
# Compose down and restart
ExecStop=/cygdrive/c/Program Files/Docker/Docker/resources/bin/docker-compose -p tertiary-study-of-gamification down -v
ExecReload=/cygdrive/c/Program Files/Docker/Docker/resources/bin/docker-compose -p tertiary-study-of-gamification restart %i

[Install]
WantedBy=multi-user.target

